@model ErrorModel

<div>
    <h1>Email Confirmation Error</h1>
    <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <span class="text-danger">@Model.Message</span>
                    </div>
                </div>
            </div>
        </div>
</div>
