@model ForgotPasswordRequest

<div>
    <h1>Forgot Password</h1>
    <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <form asp-controller="Registration" asp-action="ForgotPassword">
                            <input type="hidden" asp-for="ReturnUrl" />
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input class="form-control" placeholder="Email" asp-for="Email" autofocus>
                            </div>
                            <span asp-validation-for="Email" class="text-danger"></span>
                            <button class="btn btn-primary" name="button" value="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>
