@model ResetPasswordModel

<div>
    <h1>Reset Password</h1>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <form asp-controller="Registration" asp-action="ResetPassword">
                        <input type="hidden" asp-for="Token"/>
                        <input type="hidden" asp-for="ReturnUrl"/>
                        <input type="hidden" asp-for="UserId"/>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input class="form-control" placeholder="Password" asp-for="Password" autofocus>
                            <label asp-for="ConfirmPassword"></label>
                            <input class="form-control" placeholder="Confirm Password" asp-for="ConfirmPassword" autofocus>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            <span asp-validation-for="ValidationMessage" class="text-danger"></span>
                        </div>
                        <button class="btn btn-primary" name="button" value="login">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>