@model ResetPasswordSentModel

<div>
    <h1>Reset password</h1>
    <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div>A password reset link has been sent to @Model.Email.</div>
                    </div>
                </div>
            </div>
        </div>
</div>
