@model UserCreatedModel

<div>
    <h1>Create User</h1>
    <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div>A verification link has been sent to @Model.Email.</div>
                    </div>
                </div>
            </div>
        </div>
</div>
