version: '3.4'

services:
  redis:
    image: bitnami/redis
    ports:
      - 6379:6379
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    networks:
      - bizzpo
    restart: always

  mongodb:
    image: mongo:4.2.8
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=foobar
    ports:
      - 27017:27017
    networks:
      - bizzpo
    restart: always

networks:
  bizzpo:
      driver: bridge
